<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link rel="stylesheet" href="/styles/index.css" />
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Prompt:wght@400;500;700&family=Gugi&display=swap"
            rel="stylesheet"
    />
    <title>Document</title>
</head>
<body class="ver__body">
<div class="ver__text">
    <p class="ver__logo">Login page</p>
        <form action="/signin" method="post" class="ver__form">
            <label for="email">Enter your email</label>
            <input id="email" type="email" name="email" class="ver__input">
            <label for="password">Enter your password</label>
            <input id="password" type="password" name="password" class="ver__input">
            <input type="submit" value="Submit" class="ver__btn">
        </form>
    <a href="/register" class="ver__link">Do you Signup?</a>
</div>
</body>
</html>