*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.ver__body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
            130deg,
            #353235,
            #3c1c58,
            #223c74,
            #8597bd,
            #fffefe
    );
}

.ver__container {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ver__box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -45%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    max-width: 700px;
    height: 70%;
    max-height: 60vh;
    padding: 40px;
    background-color: #fffefe30;
    border-radius: 6px;
    box-shadow: 0 4px 12px 3px #212121aa;
}

.ver__logo {
    margin: 0 auto 10px;
    font-family: Gugi, sans-serif;
    font-size: 24px;
    color: rgb(136, 236, 236);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

.ver__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Prompt, sans-serif;
    font-weight: 500;
}

.ver__input {
    width: 300px;
    height: 40px;
}

.ver__btn {
    display: block;
    text-decoration: none;
    width: 200px;
    padding: 10px 20px;
    background-color: #ececee;
    color: #141314;
    text-align: center;
    margin-top: 20px;
    border-radius: 6px;
    border: none;
    font-family: Prompt, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.04em;
    line-height: 1.18;
    text-transform: uppercase;
    transform: scale(1);
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.ver__btn:hover,
.ver__btn:focus {
    background-color: rgb(136, 236, 236);
    transform: scale(1.05);
    box-shadow: 2px 2px 6px 2px #21212190;
}

.ver__link {
    margin: 0 auto 10px;
    font-family: Gugi, sans-serif;
    font-size: 14px;
    color: rgb(136, 236, 236);
    letter-spacing: 0.4rem;
}

.ver__text {
    margin: 10px 10px;
    font-family: Gugi, sans-serif;
    font-size: 14px;
    color: black;
    letter-spacing: 0.4rem;
}

.ver__text.error {
    color: red;
    font-size: 24px;
}


.ver__users__card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    background-color: #fffefe30;
    border-radius: 6px;
    box-shadow: 0 4px 12px 3px #212121aa;
}

.ver__user__card {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -45%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fffefe30;
    border-radius: 6px;
    box-shadow: 0 4px 12px 3px #212121aa;
}
